<!DOCTYPE html>
<html lang="en">

<head>
<link rel="canonical" href="{{.URL}}">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="stylesheet" href="/style-v1.6.css">
<link rel="stylesheet" href="/fontawesome-free-5.15.4-web/css/fontawesome.css">
<link rel="stylesheet" href="/fontawesome-free-5.15.4-web/css/solid.css">

<title>{{.OGP.TabTitle}}</title>
<meta name="title" content="{{.OGP.Title}}">
<meta name="description" content="{{.OGP.Desc}}">
<meta property="og:title" content="{{.OGP.Title}}">
<meta property="og:description" content="{{.OGP.Desc}}">
<meta property="og:url" content="{{.URL}}">
<meta property="og:site_name" content="Aajonus Online">
{{if eq .OGP.Section ""}}
<meta property="og:type" content="website">
{{else}}
<meta property="og:type" content="article">
<meta property="article:section" content="{{.OGP.Section}}">
{{end}}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
</head>

<body>

<nav>

<input id="check" type="checkbox" name="menu" />
<label for="check"></label>

<form action="/search"><input type="text" name="q" placeholder="Search.." {{if ne .Search ""}}value="{{.Search}}" {{end}}autocomplete="off">
<button title="Search" type="submit"><i class="fas fa-search"></i></button>
</form>

<ul>
<li><a href="/">News</a></li>
<li><a href="/articles">Articles</a></li>
<li><a href="/topics">Topics</a></li>
<li><a href="/qna">Q&A</a></li>
<li sep></li>
<li><a href="http://healthfully.ai">Recipes (healthfully.ai)</a></li>
<li><a href="/aajonus.torrent" download>Torrent</a> (<a href="{{.Magnet}}">Magnet</a>, <a href="/torrentinfo.txt">Info</a>)</li>
<li sep></li>
<li><a href="/donate">Donate</a></li>
</ul>

</nav>

<main>
{{.Page}}
</main>

</body>

</html>
